<div style=" border: 1px gray solid; border-radius: 2%; color: black; margin: 100px;">
  <div *ngIf="!dataReceived">
    <p>No transaction data received.</p>
    <!-- You can customize this message further -->
  </div>
  <div *ngIf="transactionData">
    <div *ngIf="transactionData">
      <p *ngIf="transactionData.success == 'true'">Payment successful!</p>
      <p *ngIf="transactionData.success == 'false'">Payment failed. Please try again.</p>

      <!-- Button to navigate based on transaction success -->
      <button class="btn btn-primary" (click)="transactionData.success ? navigateToExam() : navigateToPayment()">
        {{ transactionData.success ? 'Go to Exam' : 'Try Payment Again' }}
      </button>

    </div>

  </div>
</div>